.clear {
  clear: both;
  height: 0;
  line-height: 0;
  overflow: hidden; }

.desp-5 {
  clear: both;
  height: 5px;
  line-height: 5px;
  overflow: hidden; }

.desp-10 {
  clear: both;
  height: 10px;
  line-height: 10px;
  overflow: hidden; }

.kisphp-calendar {
  font-size: 16px; }
  .kisphp-calendar .float {
    float: left; }
  .kisphp-calendar .col {
    border: 1px solid #333;
    margin: 1px;
    width: 13.9273%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px; }
    .kisphp-calendar .col .active {
      background: #369;
      color: #fff; }
  .kisphp-calendar .row-top .middle {
    width: 85.6365%;
    text-align: center;
    height: 13.9273%;
    line-height: 13.9273%;
    margin: 1px;
    border: 1px solid #ffffff; }
  .kisphp-calendar .row-top .prev-next {
    width: 13.9273%;
    text-align: center;
    height: 13.9273%;
    line-height: 13.9273%;
    margin: 1px;
    border: 1px solid #ffffff; }
  .kisphp-calendar .row-head .col, .kisphp-calendar .row-top .col {
    height: 35px;
    line-height: 35px;
    font-size: 14px; }
  .kisphp-calendar .out {
    color: #999; }

.kisphp-calendar .col .active a {
  color: #fff; }

.kisphp-calendar .col .day a {
  font-weight: bold; }
  .kisphp-calendar .col .day a:hover {
    color: #a30000; }
