$column_width: 13.9273%;
$column_height: 35px;
$font-size: 16px;
$active_background: #369;
$active_color: #fff;
$border_color: #333;
$out_text_color: #999;

@import "vendor/kisphp/calendar-bundle/gulp/assets/scss/calendar.scss";

.kisphp-calendar {

  .col {
    .active {
      a {
        color: #fff;
      }
    }
    .day {
      a {
        font-weight: bold;

        &:hover {
          color: #a30000;
        }
      }
    }
  }
}
