{% extends '@Calendar/Demo/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-1">
                {% include '@Calendar/Demo/calendar-navigation.html.twig' %}
                {% include '@Calendar/calendar.html.twig' %}
            </div>
            <div class="col-md-6 col-2">
                {% include '@Calendar/Demo/calendar-navigation.html.twig' %}
                {% include '@Calendar/calendar.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-3">
                {% include '@Calendar/Demo/calendar-navigation.html.twig' %}
                {% include '@Calendar/calendar.html.twig' %}
            </div>
        </div>
    </div>
    <style>
        .col-1 {
            background: #ccc;
        }
        .col-2 {
            background: lightblue;
        }
        .col-3 {
            background: lightgreen;
        }
    </style>
{% endblock %}
