<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calendar</title>
    {% block css %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    {#<link rel="stylesheet" href="/vendor/kisphp/calendar-bundle/src/CalendarBundle/Resources/public/css/calendar.css" />#}
    <link rel="stylesheet" href="/css/style.css">
    {% endblock %}
</head>
<body>

{% block body %}

{% endblock %}

</body>
</html>